.layout1 {
  background-color: #87cefa15;
}

.sider {
  width: 250px;
}

.header-text {
  color: #1013bfeb;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.menu {
  padding-top: 20px;
  font-size: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
